.action.active span {
    transform: rotate(89deg);

}
.action ul {
    position: absolute;
    bottom: 55px;
    right: -160px;
    
    background: transparent;
    min-width: 250px;
    padding: 20px;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  
    
}
.action ul li {
    margin-top: 30px;

}
.action.active ul {
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}